
{% extends "layout.html" %}

{% block body %}

  
    <header>
        <h1 class="text-center fs-1 fw-bold cormorant-infant">Welcome to Maureen, Sandra, and Reina's Book Recommendation App!</h1>
       
    </header>

    <main class="text-center cormorant-infant">
      <p class="fs-5 fst-italic">Welcome to our recommendation system! </p>

      <div class="fw-bold">
        <p> Press the button below to get started!</p>
        <a class="btn btn-secondary" href="/input" role="button">Start</a> 
      </div>

                
    </main>


{% endblock %}

