{% extends "layout.html" %}

{% block body %}

<header>
    <h1 class="text-center fs-1 cormorant-infant">Here's a library of all of our books!</h1>
</header> 

<main class="cormorant-infant">



      <ul class="fs-5 container my-4">
         <table class="table table-striped table- bordered w-100 table-secondary text-center">
            <thead>
              <tr>
                <th scope = "col">#</th>
                <th scope = "col">Title</th>
              </tr>
            </thead>
            <tbody>
              {% for book in books %}
                <tr>
                    <th scope = "row">{{ loop.index }}</th>
                    <td>{{ book }}</td>
                </tr>
                    
              {% endfor %}
               
            </tbody>
            

         </table>
       </ul>
</main>



{% endblock %}